body {
  background-color: #E2DED0;
  margin: 20% 30%; 
}

h1{
  color:#4E4F50;
  font-size: 40px;
  font-family: Helvetica ; 
  border-style: groove;
  text-align: center; 
  
  
}
img{
  width:
    150px;
  border: 3px ridge grey;

}
h2{
  color: #4E4F50;
  font-size: 30px;
  font-family: Helvetica;
  text-decoration: underline; 
  
}

h3{
  color:#4E4F50;
  font-size: 18px;
  font-family: Tahoma;
}
p{
  color:#647C90;
  font-size: 15px;
  font-family: Helvetica;
  text-align: center;
  background-color: rgba(0,0,0,.08); 
}
li{
  color:#746C70;
  font-size: 15px;
  font-family: Verdana; 
}
h4{
  color:#746C70;
  font-size: 15px;
  font-family: Verdana; 
}
